
/*** 

====================================================================
	Contact Form
====================================================================

 ***/

 .contact-form {
    position: relative;
}

.contact-form .required {
    position: relative;
    color: #a7a7a7;
    font-size: 15px;
    margin-bottom: 20px;
}

.contact-form .form-group {
    position: relative;
    margin-bottom: 40px;
}

.contact-form .form-group .field-label {
    position: relative;
    color: #797979;
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}

.contact-form .form-group input[type="text"],
.contact-form .form-group input[type="password"],
.contact-form .form-group input[type="tel"],
.contact-form .form-group input[type="email"],
.contact-form .form-group select {
    position: relative;
    display: block;
    width: 100%;
    line-height: 18px;
    padding: 0px 0px 10px;
    height: 50px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    background: none;
    border-bottom: 1px solid #cdcdcd;
 
    transition: all 300ms ease;
    font-family: "Montserrat", sans-serif;
}

.contact-form .form-group input[type="text"]:focus,
.contact-form .form-group input[type="password"]:focus,
.contact-form .form-group input[type="tel"]:focus,
.contact-form .form-group input[type="email"]:focus,
.contact-form .form-group select:focus,
.contact-form .form-group textarea:focus {
    border-color: #d2b871;
}

.contact-form .form-group textarea {
    position: relative;
    display: block;
    width: 100%;
    line-height: 24px;
    padding: 0px 0px 10px;
    color: #000000;
    height: 125px;
    font-size: 16px;
    resize: none;
    background: none;
    font-weight: 400;
    border-bottom: 1px solid #cdcdcd;
    
    transition: all 300ms ease;
    font-family: "Montserrat", sans-serif;
}

.contact-form .form-group textarea::-webkit-input-placeholder,
.contact-form .form-group input::-webkit-input-placeholder {
    color: #797979;
    font-family: "Montserrat", sans-serif;
}

.contact-form button {
    margin-top: 15px;
    background-color: #bdaca8;
}

.contact-form input.error,
.contact-form select.error,
.contact-form textarea.error {
    border-color: #ff0000 !important;
}

.contact-form label.error {
    display: block;
    line-height: 24px;
    padding: 5px 0px 0px;
    margin: 0px;
    text-transform: uppercase;
    font-size: 11px;
    color: #ff0000;
    font-weight: 500;
}