/*Check Out Page*/

.checkout-page {
    position: relative;
    padding: 100px 0px 80px;

    .default-links {
        position: relative;
        margin-bottom: 40px;

        li {
            margin-bottom: 15px;
            padding: 18px 28px;
            
            background: $grey73;
            border: 1px solid $grey74;
            color: $grey15;

            @include font(17, 24, 600, $ffHeading);
            a {
                color: $grey;
                text-decoration: underline;
            }
        }
    }
    .payment-options li {
        position: relative;
        margin-bottom: 15px;

        .radio-option {
            position: relative;

            label {
                position: relative;
                display: block;
                padding-left: 30px;
               
             
                @include font(15, 15, 600);
                text-transform: capitalize;
                letter-spacing: 1px;
               
                color: $grey15;
                cursor: pointer;

                strong {
                    display: inline-block;
                    font-weight: 600;
                    color: $grey15;
                }

                .small-text {
                    position: relative;
                    display: none;
                 
                    padding: 18px 26px;
                    margin-top: 20px;
                  
                    letter-spacing: 0px;
                    text-transform: none;
                    @include font(15, 15*1.6, 400);
                  
                    border-radius: 4px;
                    background-color: $grey76;
                    color: $grey75;

                    &:before {
                        content: "";
                        
                        @include position(absolute, (l, 24px), (t, -10px));
                        
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 15px solid $grey76;
                    }
                }

                img {
                    position: relative;
                    top: -3px;
                    
                    display: inline-block;
                    max-width: 100%;
                    padding-left: 30px;
                }
                
                
            }

            input[type="radio"] {
                @include position(absolute, (l, 0), (t, 3px));

                &:checked+label .small-text {
                    display: block;
                }
            }
           
            #payment-3 {
                top: 9px;
            }

            li .what-paypall {
                @include font(13, 13, 600);
                margin-left: 15px;
            }

            
    
        }
        
    }
}



