/*** 

====================================================================
	Services Page Section
====================================================================

***/

.services-page-section {
    position: relative;
    padding: 90px 0px 20px;

    .services-title {
        position: relative;
        margin-bottom: 100px;
        text-align: center;

        .title {
            position: relative;
            color: $grey4;

            @include font(20, 20, 400);
            margin-bottom: 15px;
        }

        h2 {
            position: relative;
            color: $grey4;

            @include font(50, 50*1.2, 700);

            padding-bottom: 30px;

            &:after {
                content: "";
                @include position(absolute, (l, 50%), (b, 0));
                @include sz(90px, 3px);
               
                margin-left: -45px;
                background-color: $grey12;
            }
        }
    }
}

/*Services Block*/

.service-block {
    position: relative;
    margin-bottom: 80px;

    .inner-box {
        position: relative;

        box-shadow: 0px 0px 25px 0px rgba($black, 0.2);

        .image-column,
        .content-column {
            position: relative;
            padding: 0px;
        }

        .image-column .image {
            position: relative;

            img {
                position: relative;
                display: block;
                width: 100%;
            }
        }

        .content-column .inner-column {
            position: relative;
            padding: 45px 55px 20px;

            h2 {
                position: relative;
                
                @include font(28, 28*1.2, 700);
                
                padding-bottom: 15px;
                margin-bottom: 25px;
                
                color: $grey4;
                &:after {
                    content: "";
                    
                    @include position(absolute, (l, 0), (b, 0));
                    @include sz(35px, 2px);

                    background-color: $grey12;
                }
            }

            .text {
                position: relative;
                margin-bottom: 20px;
                
                color: $grey15;
                @include font(16, 16*1.8, 400);
                
            }

            ul {
                position: relative;

                li {
                    position: relative;
                    margin-bottom: 2px;
                   
                    color: $grey15;
                   
                    @include font(16, 16, 400);
                }
                
            }
        }
    }
}



/*Services Block Two*/

.service-block-two {
    position: relative;
    margin-bottom: 80px;

    .inner-box {
        position: relative;
        background-color: $grey4;
    
        box-shadow: 0px 0px 25px 0px rgba($black, 0.2);

        .image-column,
        .content-column {
           position: relative;
           padding: 0px;
       }

       .image-column {
        position: relative;
        padding: 45px 55px 20px;
        .image {
            position: relative;

            img {
                position: relative;
                width: 100%;
                display: block;
            }
            
        }
       }

       .content-column .inner-column {
        h2 {
            position: relative;
            
            padding-bottom: 15px;
            margin-bottom: 25px;
            
            color: $white;
    
            @include font(28, 28*1.2, 700);
    
            &:after {
                content: "";
                
                @include position(absolute, (l, 0), (b, 0));
                @include sz(35px, 2px);
                
                background-color: $grey12;
            }
        }

        .text {
            position: relative;
            margin-bottom: 20px;
            
            color: $grey8;
            
            @include font(16, 16*1.8, 400);
          
        }

        ul {
            position: relative;

            li {
                position: relative;
                margin-bottom: 2px;
                
                color: $grey8;
                
                @include font(16, 16, 400);
               
            }
            
        }
       }
    
    }
}



.team-page-section {
    position: relative;
    padding: 90px 0px 60px;

    .team-title {
        position: relative;
        
        padding-bottom: 18px;
        margin-bottom: 60px;

        h2 {
            position: relative;
            margin-bottom: 2px;
           
            @include font(35, 35*1.2, 600);
            color: $grey4;
        }

        .text {
            position: relative;

            @include font(20, 20, 300);
            color: $grey4;
        }

        &:after {
            content: "";

            @include position(absolute, (l, 0), (b, 0));
            @include sz(60px, 2px);

            background-color: $grey12;
        }
    }
}
