<!DOCTYPE html>
{{- partial "head.html" . -}}

<body lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}" class="main-page">

  <main class="page-wrapper">

    {{- partial "preloader.html" . -}}
    <div class="header-span"></div>


    {{- block "main" . }}{{- end }}

  </main>


  {{ range .Site.Params.plugins.js }}
  <script src="{{ .link | relURL }}"></script>
  {{ end }}

  {{ $script := resources.Get "js/script.js" | minify }}
  <script src="{{ $script.Permalink | relURL }}?v={{ now.Format " 01-02-2006-14-52-26"}}"></script>

  <!-- FORM SEND -->
  {{- partial "_tg.html" . -}}


<!-- {{ range .Site.RegularPages }}
 <div> {{ .Permalink }} </div>
{{ end }} -->


</body>
</html>