<!-- BEGIN breadcrumbs -->

<article class="breadcrumb__container">
	<div class="row">
		<div class="page-container">

			<nav aria-label="breadcrumb">
				<ol class="breadcrumb-wrap" itemscope itemtype="http://schema.org/BreadcrumbList">
				
				<li class="breadcrumb__item" itemprop="itemListElement" itemscope
					itemtype="http://schema.org/ListItem">
			
					<a href="{{  .Site.BaseURL | relLangURL  }}" itemprop="item">
						<span itemprop="name"> {{ .Site.Params.home }} </span>
						<meta itemprop="position" content="1" />
					</a>
				</li>
				
			{{ $findUrl := slice }}
			{{ range $index, $el := (split .URL "/") }}
			{{ if gt (len . ) 0 }}
			{{ $findUrl = uniq ($findUrl | append .)  }}
			{{ end }}
			{{ end }}
			{{ $url := "/" }}
			
		

			{{ range $index, $el := $findUrl }}
			<li class="breadcrumb__item" itemprop="itemListElement" itemscope
			itemtype="http://schema.org/ListItem">
			{{ $url = "/" | add . | add $url  }}
			
			{{ $numb := len $findUrl }} 
			{{ $numb = sub $numb 1 }}


			{{ if eq $index $numb }}
			<div>
				<span itemprop="name"> {{ . }} </span>
				{{ $index = $index | add 1 |  }}
				<meta itemprop="position" content="{{ $index }}" />
			</div>
			{{ else }}
			<a href="{{ $url }}"  itemprop="item">
				<span itemprop="name"> {{ . }} </span>
				{{ $index = $index | add 1 |  }} 
				<meta itemprop="position" content="{{ $index }}" />
			</a>	
			{{ end }}

			</li>
			{{ end }}
			</nav>

		</div>
	</div>
</article>
<!-- END breadcrumbs -->