<!-- BEGIN breadcrumbs -->
<article class="breadcrumb__container">
	<div class="row">
		<div class="page-container">
			{{ $pageLang := .Page.Lang}}
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb-wrap" itemscope itemtype="http://schema.org/BreadcrumbList">
				
				<li class="breadcrumb__item" itemprop="itemListElement" itemscope
					itemtype="http://schema.org/ListItem">
					<a href="{{  .Site.BaseURL }}" itemprop="item">
						<span itemprop="name"> {{ .Site.Params.home }} </span>
						<meta itemprop="position" content="1" />
					</a>
				</li>
				
			{{ $findUrl := slice }}
			{{ range $index, $el := (split .URL "/") }}
			{{ if gt (len . ) 0 }}
			{{ $findUrl = uniq ($findUrl | append .)  }}
			{{ end }}
			{{ end }}
			{{ $url := "/" }}
			
		

			{{ range $index, $el := $findUrl }}
		
			{{ $url = "/" | add . | add $url  }}
			
			{{ $numb := len $findUrl }} 
			{{ $numb = sub $numb 1 }}

			
			{{ if eq $index $numb }}
			<li class="breadcrumb__item" itemprop="itemListElement" itemscope
			itemtype="http://schema.org/ListItem">
			<div>
				<span itemprop="name"> {{ if $.Title }} {{ $.Title }} {{ else }} {{ . }} {{ end }} </span>
				{{ $index = $index | add 1 |  }}
				<meta itemprop="position" content="{{ $index }}" />
			</div>
			</li>
			{{ else }}
			{{ $url = lower $url }} 
		{{ $pageLang =  "/" | add $pageLang | add "/" }}

		{{ if not (eq $url $pageLang) }}
		<li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<a href="{{ $url | relLangURL }}"  itemprop="item">
			<span itemprop="name"> {{ $.Parent.Title }} </span>
			{{ $index = $index | add 1 |  }} 
			<meta itemprop="position" content="{{ $index }}" />
			</a>	
		</li>
		{{ end }}
			{{ end }}
		
			{{ end }}
			</nav>

		</div>
	</div>
</article>
<!-- END breadcrumbs -->