<ul class="checks list-location">

  {{ $pagesGEO := .Data.Pages }}
  {{ $geo := slice }}
  {{ $country := slice }}

  {{ if .Params.geo }}
  {{ $arr := .Params.geo.list }}
  {{ $arr = uniq $arr | sort }}
  {{ range $i, $arr }}

  {{ $geo = $geo | append .item }}

  {{ end }}
  {{ end }}

  {{ $geo = uniq $geo | sort }}

  {{ $common := slice }}
  {{ $other := slice }}

  {{ range $geo }}
  {{ $val := . }}


  {{ range $e, $value := $pagesGEO }}

  {{ if (in $val .Params.country_title) }}
  {{ $common = $common | append . }}
  {{ end }}

  {{ $common = uniq $common | sort }}
  {{ $country = uniq $country | sort }}

  {{ end }}
  {{ end }}

  {{ $dif := $geo | symdiff $country }}
  {{ range $dif }}
  <li>
    {{ . | truncate 50 }}
  </li>
  {{ end }}

  {{ range $common }}
  <li>
    <a href="{{ .Permalink | relURL }}">
      {{ .Params.country_title }}
    </a>
  </li>
  {{ end }}

</ul>