   <!-- BEGIN lang-switcher -->

   {{ $siteLanguages := .Site.Languages}}
   {{ $pageLang := .Page.Lang}}

   {{ if .IsTranslated }}
   <li class="dropdown lang-switcher">
     
     <button class="" type="button" id="lang" data-toggle="lang" aria-haspopup="true"
       aria-expanded="false">
       {{ $pageLang }} <i class="fa fa-angle-down"></i>
     </button>
     <ul class="dropdown-menu" aria-labelledby="lang" id="select-language">
       {{ range .Page.AllTranslations }}
       {{ $translation := .}}
       {{ range $siteLanguages }}
       {{ if eq $translation.Lang .Lang }}
       {{ $selected := false }}
       {{ if eq $pageLang .Lang}}
       
       <li>
        <a id="{{ $translation.Language }}" value="{{ $translation.RelPermalink }}" onClick="location = this.value;" href="{{ $translation.RelPermalink }}">
          {{ .LanguageName }}
        </a>
       </li>
       {{ else }}
       <li>
        <a id="{{ $translation.Language }}" value="{{ $translation.RelPermalink }}" onClick="location = this.value;" href="{{ $translation.RelPermalink }}">
          {{ .LanguageName }}
        </a>
      </li>

       {{ end }}
       {{ end }}
       {{ end }}
       {{ end }}
     </ul>
    </li>

   {{ else }}
  <li class="dropdown__item">
    <span class="dropdown__link">
      {{ $pageLang }}
    </span>
  </li>


   {{ end }}
   <!-- END lang-switcher -->