<!--Logo Box-->
{{ $img := .Scratch.Get "img" }}
{{ $logo_w := .Scratch.Get "logo_w" }}

{{ $pageLang := .Page.Lang}}

<div class="logo">
   <a href="{{ .Site.BaseURL }}{{ $pageLang }}/">
      <img src="{{ $img | relURL }}" width="{{ $logo_w }}" alt="{{ .Site.BaseURL }}">
   </a>
</div>
