{{ $title := slice }}
{{ $description := slice }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<meta charset="utf-8">



<!-- {{ if (.Params.title_before | or .Params.title_after) }}
{{ $title = $title | append .Params.title_before }}
{{ $title = $title | append .Title }}
{{ $title = $title | append .Params.title_after }}
{{ $title = delimit $title " " }}
{{ else }}
{{ $title = .Title }}
{{ end }}

{{ if (.Params.description_before | or .Params.description_after) }}
{{ $description = $description | append .Params.description_before }}
{{ $description = $description | append .Params.description }}
{{ $description = $description | append .Params.description_after }}
{{ $description = delimit $description " " }}
{{ else }}
{{ $description = .Params.description }}
{{ end }} -->


{{ if .Params.SEO_title }}

{{ $title = .Params.SEO_title }}
<title>{{ $title }}</title>
<meta property="og:title" content="{{ $title | truncate 60 }}">
<meta name="twitter:title" content="{{ $title | truncate 60 }}">
{{ else }} 

{{ if $data.homepage.SEO }}
{{ with $data.homepage.SEO }}

{{ $title = .SEO_title }}
<title>{{ $title }}</title>
<meta property="og:title" content="{{ $title | truncate 60 }}">
<meta name="twitter:title" content="{{ $title | truncate 60 }}">
{{ end }}
{{ end }}

<!-- {{ $title = .Title }} -->
{{ end }}

{{ if .Params.SEO_description }}

{{ $description = .Params.SEO_description }}
<meta name="description" content="{{ $description | truncate 160 }}">
<meta property="og:description" content="{{ $description | truncate 160 }}">
<meta name="twitter:description" content="{{ $description | truncate 160 }}">
<meta itemprop="description" content="{{ $description | truncate 160 }}">
{{ else }}

{{ if $data.homepage.SEO }}
{{ with $data.homepage.SEO }}

{{ $description = .SEO_description }}
<meta name="description" content="{{ $description | truncate 160 }}">
<meta property="og:description" content="{{ $description | truncate 160 }}">
<meta name="twitter:description" content="{{ $description | truncate 160 }}">
<meta itemprop="description" content="{{ $description | truncate 160 }}">
{{ end }}
{{ end }}

<!-- {{ $description = .Params.description }} -->
{{ end }} 


<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

{{ with .Site.Params.author }}
<meta name="author" content="{{ . }}">{{ end }}
{{ hugo.Generator }}

<!-- canonical link tag -->
<link rel="canonical" href="{{ .Permalink }}" />

<!-- Facebook and Twitter integration -->
{{ if not .Site.Params.OpenGraph.hide }}
<!-- FACESPACE -->
<meta property="og:image:height" content="...">
<meta property="og:image:width" content="...">
<meta property="og:image" content="{{ .Site.BaseURL }}images/screenshot.jpg">

<meta property="fb:app_id" content="...">
<meta property="fb:admins" content="{{ .Site.Params.author }}">

<meta property="og:type" content="website" />
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:url" content="{{ .Permalink }}">

<meta name="twitter:title" content="{{ .Site.Title }}" />
<meta name="twitter:url" content="{{ .Permalink }}" />
<meta name="twitter:image" content="{{ .Site.BaseURL }}images/screenshot.jpg" />
<meta name="twitter:card" content="" />
{{ end }}

<!-- THE TWITTER MACHINE -->
<meta name="twitter:card" content="...">
<meta name="twitter:site" content="{{ .Permalink }}">
<meta name="twitter:creator" content="{{ .Site.Params.author }}">
<meta name="twitter:image:src" content="...">

<!-- G++ -->
<meta itemprop="name" content="{{ .Permalink }}">
<meta itemprop="image" content="...">

<!-- Favicon -->
<link rel="shortcut icon" href="{{ `images/fav/favicon.png` | relURL }}" type="image/x-icon">
<link rel="icon" href="{{ `images/fav/favicon.png` | relURL }}" type="image/x-icon">

<link rel="apple-touch-icon" sizes="144x144" href="{{ `images/fav/apple-touch-icon.png` | relURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ `images/fav/favicon-32x32.png` | relURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ `images/fav/favicon-16x16.png` | relURL }}">
<link rel="mask-icon" href="{{ `images/fav/safari-pinned-tab.svg` | relURL }}" color="#fff">

<link rel="manifest" href="{{ `images/fav/site.webmanifest` | relURL }}">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!-- Google Tag Manager -->
<script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
      'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', '{{ .Site.Params.gtm }}');</script>
<!-- End Google Tag Manager -->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ .Site.Params.gtm }}" height="0" width="0"
    style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->