---
title: Oops! Not Found
permalink: 404.html
---

{{ define "main" }}

<section class="error-page">
  <div class="center">
    <div class="block text-center">
      <h1>404</h1>
      <h3>Page Not Found</h3>
      <p>The link you clicked may be broken or the
        <br>page may have been removed.</p>
      <a href="{{ .Site.BaseURL | relLangURL }}" class="btn btn-main">visit homepage</a>
    </div>
  </div>
</section>

{{ end }}